@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.skill{
    position:absolute;
    padding:12px 20px;
    border-radius:999px;
    background:rgba(139,92,246,.15);
    border:1px solid rgba(139,92,246,.3);
    color:white;
    transition:.3s;
}

.skill1 {
  top: 60px;
  left: 180px;
}

.skill2 {
  top: 30px;
  left: 420px;
}

.skill3 {
  top: 0px;
  left: 300px;
}

.skill4 {
  top: 150px;
  left: 200px;
}

.skill5 {
  top: 220px;
  left: 120px;
}

.skill6 {
  top: 330px;
  left: 340px;
}

.skill7 {
  top: 300px;
  left: 180px;
}

.skill8 {
  top: 300px;
  left: 520px;
}

.skill9 {
  top: 220px;
  left: 470px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}
@media (max-width:768px){

.skill{
    position:static !important;
    transform:none !important;
}

.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6,
.skill7,
.skill8,
.skill9{
    top:auto !important;
    left:auto !important;
    right:auto !important;
    bottom:auto !important;
}

}